@font-face {
  font-family: 'avenirBook';
  src: url(fonts/ecb0c2ae369ba2a89d9a1ec2a1b3187b.otf) format('truetype');
}
@font-face {
  font-family: 'avenirRoman';
  src: url(fonts/b1d7c6e085a31e9f5e4745c9aef6eb4b.otf) format('truetype');
}
* {
  padding: 0;
  margin: 0;
  --light-color: #d9e2ff;
  --medium-color: #3893c6;
  --dark-color: #0173b2;
}
body {
  overflow: hidden;
  cursor: none;
}
.cursor {
  position: fixed;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 100;
}
.cursor-delay {
  position: fixed;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background: rgba(255,255,255,0.3);
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 100;
}
.home {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background: linear-gradient(to bottom, var(--light-color), var(--medium-color));
  display: flex;
  justify-content: center;
  transition: all 2s ease-out;
}
.home .title-home {
  margin-top: 12%;
  z-index: 4;
}
.home .title-home h1 {
  top: 295px;
  font-size: 6em;
  text-align: center;
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
  letter-spacing: 0.25em;
  background: linear-gradient(to bottom, var(--dark-color) 30%, var(--light-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home .title-home p#little-message {
  text-align: center;
  font-family: 'Roboto Condensed';
  margin-top: 21%;
  color: #fff;
  font-size: 1.3em;
  opacity: 0.8;
  letter-spacing: 0.1em;
}
.home .title-home p#start {
  text-align: center;
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
  margin-top: 5%;
  color: #fff;
  font-size: 1.5em;
  letter-spacing: 0.2em;
}
.home .title-home #start-container div.line {
  position: absolute;
  left: 50%;
  background-color: #fff;
  height: 2px;
  width: 2px;
  opacity: 0;
  transition: transform 0.7s ease-in-out;
  will-change: transform, opacity;
}
.home .title-home #start-container:hover div.line {
  opacity: 1;
  transform: translateX(-3px) scaleX(82);
}
.home .clock {
  z-index: 4;
}
.home .clock .hours,
.home .clock .minutes {
  position: absolute;
  top: 50%;
  left: 50%;
}
.home .clock .hours {
  transform: rotate(320deg);
  will-change: transform;
  animation-name: hours-animation;
  animation-duration: 2s;
  animation-play-state: paused;
  animation-timing-function: cubic-bezier(0, 0, 0, 1.1);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.home .clock .needle {
  position: absolute;
}
.home .clock .minutes .needle {
  width: 10px;
  height: 333px;
  left: -4px;
  bottom: -4px;
  background: rgba(255,255,255,0.8);
}
.home .clock .hours .needle {
  width: 10px;
  height: 133px;
  left: -4px;
  bottom: -4px;
  background: var(--dark-color);
}
.home div#romain-numbers {
  position: absolute;
  top: 3%;
  z-index: 3;
  opacity: 0.2;
}
.home div#triangle {
  position: absolute;
  top: 7%;
  z-index: 3;
  opacity: 0.5;
}
.home div#clock-circle div {
  position: absolute;
  top: 3%;
  left: 26.1%;
  width: 914px;
  height: 914px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.05);
}
.home div.links {
  position: absolute;
  width: 100%;
  bottom: 2%;
  display: flex;
  justify-content: space-around;
  z-index: 4;
}
.home div.links p {
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
  color: #fff;
  font-size: 1em;
  letter-spacing: 0.1em;
}
.home div.links a {
  font-family: 'Roboto Condensed';
  text-decoration: none;
  color: #fff;
  opacity: 0.5;
  font-size: 0.7em;
  letter-spacing: 0.2em;
  cursor: none;
  transition: opacity 0.2s ease-in;
}
.home div.links a:hover {
  opacity: 1;
}
@-moz-keyframes hours-animation {
  0% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(-1800deg);
  }
}
@-webkit-keyframes hours-animation {
  0% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(-1800deg);
  }
}
@-o-keyframes hours-animation {
  0% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(-1800deg);
  }
}
@keyframes hours-animation {
  0% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(-1800deg);
  }
}
.song-volume {
  position: absolute;
  z-index: 1;
  top: 3%;
  left: 3%;
}
.song-volume img {
  width: 20px;
  height: auto;
  position: absolute;
  will-change: opacity;
  transition: opacity 0.3s ease-in;
}
.song-volume img#mute {
  opacity: 0;
}
#timeline {
  position: absolute;
  width: 360px;
  bottom: 5%;
  left: calc(50% - 175px);
  z-index: 1;
  filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.314));
}
#timeline #line {
  width: 1px;
  height: 2px;
  position: absolute;
  top: 8px;
  background-color: #fff;
  will-change: transform;
  transition: transform 1.8s ease-out;
  transform-origin: 0 0;
}
#timeline #dates {
  display: flex;
  justify-content: space-between;
}
#timeline #dates .date:hover .text-description p {
  color: #577fa2;
}
#timeline #dates .date.hourglass,
#timeline #dates .date.pendulum-clock {
  opacity: 0.5;
  transition: opacity 2s ease-out;
}
#timeline #dates .date.sundial .text-description {
  position: absolute;
  transform: translateX(-20px) translateY(-60px);
}
#timeline #dates .date.hourglass .text-description {
  position: absolute;
  transform: translateX(-29px) translateY(-60px);
}
#timeline #dates .date.pendulum-clock .text-description {
  position: absolute;
  transform: translateX(-18px) translateY(-60px);
}
#timeline #dates .date .text-description p {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Roboto Condensed';
  letter-spacing: 0.15em;
  text-align: center;
  font-size: 0.8em;
  transition: 0.5s color ease-out;
}
#timeline #dates .date .circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  will-change: transform;
  transition: transform 0.5s ease-out;
}
#timeline #dates .date .circle box-shadow 2px 2px 1px rgba(0,
#timeline #dates .date .circle  0,
#timeline #dates .date .circle  0.3),
#timeline #dates .date .circle:hover {
  transform: scaleX(1.2) scaleY(1.2);
}
#timeline #dates .date .circle::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  transform: translateX(-9px) translateY(-9px);
  border-radius: 50%;
  border: 1px solid #fff;
}
#timeline #dates .date .arrow-line {
  width: 2px;
  height: 32px;
  position: absolute;
  transform: translateX(7px) translateY(-45px);
  background-color: #fff;
}
#timeline #dates .date .arrow-line::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  transform: translateX(-1.5px);
  border-radius: 50%;
  background-color: #fff;
}
.info-hidden {
  transform: translateX(100%) !important;
  opacity: 0 !important;
  transition: all 0.8s ease-in-out;
}
.faded {
  opacity: 0 !important;
  transition: all 0.8s ease-in-out;
}
#info {
  opacity: 1;
  transform: translateX(0%);
  box-sizing: border-box;
  position: absolute;
  width: 450px;
  right: 40px;
  top: 20%;
  z-index: 1;
  font-family: 'avenirBook';
  backdrop-filter: blur(20px);
  transition: all 0.8s ease-in-out;
}
#info #button-next-prev {
  display: flex;
  justify-content: flex-end;
}
#info #button-next-prev #next-btn {
  right: 0;
  padding: 8px 15px;
  width: 80px;
  border-radius: 30px;
  background: #fff;
  transition: all 0.3s;
}
#info #button-next-prev #next-btn #next-btn-text {
  color: #5a5a5a;
  text-align: center;
  font-size: 0.9em;
  width: 100%;
}
#info #button-next-prev #next-btn:hover {
  background: #e6e6e6;
  transition: all 0.3s;
}
#info #button-next-prev #prev-btn {
  margin-right: 20px;
  padding: 8px 15px;
  width: 80px;
  border-radius: 30px;
  background: #fff;
  transition: all 0.3s;
}
#info #button-next-prev #prev-btn #prev-btn-text {
  color: #5a5a5a;
  text-align: center;
  font-size: 0.9em;
  width: 100%;
}
#info #button-next-prev #prev-btn:hover {
  background: #e6e6e6;
  transition: all 0.3s;
}
#info #title {
  padding: 0;
  margin: 5%;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5em;
}
#info #description {
  padding: 0;
  margin: 5%;
  color: #fff;
  font-size: 0.9em;
  line-height: 1.5;
}
#info #questions {
  background: #fff;
  color: #577fa2;
  padding: 4%;
  margin-bottom: 2%;
}
#info #questions #question {
  text-transform: uppercase;
  font-size: 1em;
  padding: 0;
  margin: 5%;
  line-height: 1.6;
}
#info #questions #answer {
  font-size: 0.9em;
  line-height: 1.5;
  padding: 0;
  margin: 5%;
}
#interaction {
  position: absolute;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  top: 3%;
  transition: all 0.8s ease-in-out;
}
#interaction p {
  color: #fff;
  font-family: 'avenirBook';
}
@media screen and (max-width: 800px) {
  .cursor {
    display: none;
  }
  .cursor-delay {
    display: none;
  }
  #timeline {
    display: none;
  }
  .home {
    position: fixed;
  }
  .home .title-home {
    margin-top: 20px !important;
  }
  .home .title-home h1 {
    font-size: 32px;
  }
  .home .title-home #little-message {
    margin-top: 40px !important;
  }
  .home #roman-numbers {
    display: none;
  }
  .home #triangle {
    display: none;
  }
  .home .clock {
    display: none;
  }
  .home .links {
    flex-direction: column;
    align-items: center;
  }
  #info {
    width: 100%;
    right: 0;
    backdrop-filter: none;
    position: fixed;
    height: 100%;
    display: flex;
    top: 0;
    flex-direction: column;
    align-items: center;
  }
  #info #title,
  #info #description,
  #info #questions {
    display: none;
  }
  #interaction {
    display: none;
  }
  #button-next-prev {
    position: fixed;
    bottom: 80px;
    justify-content: space-between !important;
  }
  #next-btn,
  #prev-btn {
    width: fit-content !important;
  }
  #prev-btn:hover,
  #next-btn:hover {
    background: #fff !important;
  }
  .info-hidden {
    transform: translateX(0%) !important;
    transform: translateY(100%) !important;
    opacity: 0 !important;
    transition: all 0.8s ease-in-out;
  }
}


/*# sourceMappingURL=main.css.map*/